<section id="add">
  <h2>
    All Users
    <a id="btn-allUsers" class="btn btn-reverse" href="/dashboard">
      <i class="fa fa-chevron-circle-left"></i> My Dashboard
    </a>
  </h2>

  <table class="user-table">
    <tr>
      <th>S/N</th>
      <th>Name</th>
      <th>City</th>
      <th>Phone</th>
      <th>Email</th>
      <th>State</th>
      <th></th>
      <th></th>
    </tr>
    <% for(user of allUsers) { %>
    <tr>
      <td>
        <%- i++ %>
        <a id="user-details" href="./userDetails/<%- user.id%> " title="View Details">
          <%- `${user.firstName} ${user.lastName}` %></a
        >
      </td>
      <td><%- user.city %></td>
      <td><%- user.phone %></td>
      <td><%- user.email %></td>
      <td><%- user.state %></td>
      <td><a id="btn-user-delete" href="#" title="Delete">X</a></td>
      <td>
        <a id="btn-user-delete" href="#" title="Edit"><i class="fa fa-edit"></i></a>
      </td>
    </tr>
    <% } %>
  </table>
</section>
