<section id="add" class="container">
  <h2>
    Assign User Roles
    <a id="btn-allUsers" class="btn btn-reverse" href="/dashboard">
      <i class="fa fa-chevron-circle-left"></i> My Dashboard
    </a>
  </h2>

  <div class="form-wrap">
    <%- include ('../partials/messages') %>
    <form action="/users/assignUserRole" method="POST" autocomplete="on">
      <!--* Gender here to Select -->
      <div class="custom-select">
        <label for="registered members"> Registered Members </label>
        <select name="id">
          <% for(user of userList) { %>
          <!-- Do not show user that is logged in to change user Role-->
          <% if (user.id !== userId) { %>
          <option value="<%- user.id %>"> <%-`${user.firstName} ---- ${user.email}` %> </option>

          <% } %> <% } %>
        </select>
      </div>

      <div class="custom-select">
        <label for="user roles"> User Roles </label>
        <select name="userRoleId">
          <% for(role of userRole) { %>
          <option value="<%- role.id %>"> <%- role.userRoleName %> </option>

          <% } %>
        </select>
      </div>

      <input type="submit" value="Assign Role" class="btn btn-reverse" />
    </form>
  </div>
</section>
