<section id="add" class="container">
  <div class="form-wrap">
    <h1>Register an Account</h1>

    <%- include ('../partials/messages') %>
    <form action="/users/register" method="POST" autocomplete="on">
      <div class="input-group">
        <label for="First Name">First Name </label>
        <input
          type="text"
          name="firstName"
          class="input-box"
          placeholder="First Name"
          maxlength="100"
          value="<%= typeof firstName != 'undefined' ? firstName : '' %>"
        />
      </div>
      <div class="input-group">
        <label for="Last Name">Last Name </label>
        <input
          type="text"
          name="lastName"
          class="input-box"
          placeholder="Last Name "
          maxlength="100"
          value="<%= typeof lastName != 'undefined' ? lastName: '' %>"
        />
      </div>

      <div class="input-group">
        <label for="City">City</label>
        <input
          type="city"
          name="city"
          class="input-box"
          placeholder="City"
          value="<%= typeof city != 'undefined' ? city : '' %>"
        />
      </div>

      <div class="custom-select">
        <label for="Gender"> Gender </label>
        <select id="mySelect">
          <option name="gender" value="1">Male </option>
          <option name="gender" value="2">Female </option>
        </select>
      </div>

      <div class="input-group">
        <label for="phone">Phone No</label>
        <input
          type="phone"
          name="phone"
          class="input-box"
          placeholder="Phone Number"
          maxlength="13"
          value="<%= typeof phone != 'undefined' ? phone : '' %>"
        />
      </div>
      <div class="input-group">
        <label for="State">State</label>
        <input
          type="state"
          name="state"
          class="input-box"
          placeholder="State"
          value="<%= typeof state != 'undefined' ? state : '' %>"
        />
      </div>

      <!--* Gender here to Select -->

      <div class="input-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          name="email"
          class="input-box"
          placeholder="email"
          value="<%= typeof email != 'undefined' ? email : '' %>"
        />
      </div>

      <div class="input-group">
        <label for="password">Password </label>
        <input
          type="password"
          name="password"
          class="input-box"
          placeholder="Password "
          value="<%= typeof password != 'undefined' ? password : '' %>"
        />
      </div>

      <div class="input-group">
        <label for="password">Confirm Password </label>
        <input
          type="password"
          name="password2"
          class="input-box"
          placeholder="Confirm Password "
          value="<%= typeof password2!= 'undefined' ? password2 : '' %>"
        />
      </div>

      <input type="submit" value="Register" class="btn btn-reverse" />
      <p>Already have existing account? <a href="/users/Login"> Login Here</a></p>
    </form>
  </div>
</section>
